body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

* {
  box-sizing: border-box;
}

.paper {
  padding: 10px;
  line-height: 24px;
}

.container {
  max-width: 980px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #fff;
}

.output {
  min-height: 40px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
  align-items: center;
}

.title {
  text-align: center;
}

.elements {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-item {
  width: 30%;
  margin-right: 15px;
}

@media (max-width: 560px) {
  .elements {
    flex-wrap: wrap;
  }
  .input-item {
    width: 80%;
    margin-bottom: 20px;
  }
}
